.vertical-space{
    line-height: 2.5 !important;
}

.spaced{
    letter-spacing: 5px;
}

.text-gray{
    color: $gray !important;
}

.text-blue{
    color: $blue !important;
}

.zoom-social_icons-list__item{
    border: 2px solid #fff !important;
}